<h3>Basket</h3>

<table border="1">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
  </tr>

  <% products.each do |product| %>
      <tr>
        <td><%= product[:name] %></td>
        <td><%= product[:quantity] %></td>
        <td><%= product[:total_gross] %>  PLN</td>
        <td>
          <form action="/basket_remove" method="post">
            <input type="hidden" name="product_id" value="<%= product[:id] %>">
            <input type="submit" value="delete">
          </form>
        </td>
      </tr>
  <% end %>
  <tr>
    <td colspan="4">Total gross: <%= "%0.2f" % gross %>  PLN</td>
  </tr>
  <tr>
    <td colspan="4">Total net: <%= "%0.2f" % net %>  PLN</td>
  </tr>

</table>
